@model IEnumerable<QuanLyShopThoiTrang.Models.Product>

<div class="table mt-3">
    <div class="row" style="margin-left:10%;margin-right:10%">

        @foreach (var item in Model)
        {
            <a href="~/Product/Details?maSP=@item.product_id" class="product-container text-center text-dark">
                <div class="col-lg-3 col-md-6 col-12 link-san-pham " style="font-size:14px ; font-weight:400; width:37vmin;height:55vmin">
                    
                    
                        <img style="width:35vmin;height:40vmin" st class="card-img-top" src="~/Image/SanPham/@item.ImageSP" />
                    
                    <div class="card-body" style="width:35vmin;height:15vmin">
                       
                            <p class="card-title">@item.product_name </p>
                        
                        <p class="card-title text-center">₫ @item.price</p>
                    </div>
                    <div class="product-action">
                        <div class="btn-product btn-cart add-to-cart-btn">
                           
                            <p class="mb-3 text-center text-uppercase font-weight-bold text-light"> <i class="fa fa-cart-shopping cart mt-3"></i> Thêm vào giỏ hàng</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>


