<script src="https://kit.fontawesome.com/6f8c594e7b.js" crossorigin="anonymous"></script>


@*<div class="col-md-2 dong-chua-lien-ket" style="background-color: #343a40;">*@
<a class="admin-lien-ket" href="~/Admin/Product/ProductPatial"><i class="fa-solid fa-pen-to-square"></i> Quản lý hàng</a>
<a class="admin-lien-ket" href="~/Admin/Product/ThemSP"> <i class="fa-solid fa-layer-group"></i> Thêm hàng</a>
<a class="admin-lien-ket" href="~/Admin/CateProduct/CateProduct"> <i class="fa-solid fa-layer-group"></i> Danh Mục Hàng</a>
<a class="admin-lien-ket" href="~/Admin/Product/ProductVariantPatial"> <i class="fa-solid fa-pen-to-square"></i> Quản lý loại sản phẩm</a>
<a class="admin-lien-ket" href="~/Admin/Product/ThemMauSP"> <i class="fa-solid fa-layer-group"></i> Thêm mẫu hàng</a>
@*</div>*@

