<div class="table" >
    <div class="row ">
        <div class="col-5"></div>
        <div class="col-1 mt-3 text-right">
            <img class="ml-3" style="width:250px;height:50px;" src="~/Image/Logo/Logo1.png" />
        </div>      
        <div class="col-6 mt-3 ">
            <form  method="get" action="~/Product/SearchSanPham" class="form-inline" style="margin-left:300px">               
                <button class="btn btn-link text-secondary" type="submit"><i class="fas fa-search "></i></button>
                <input class="form-control border-0" name="txt_Search" type="search" placeholder="Tìm sản phẩm..." aria-label="Search">               
            </form>
            <hr style="margin-left:300px;color:black" class="mt-1" />
        </div>
    </div>
    <div class="row bg-dark">
        <div class="col-6 bg-dark">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto main-menu" style="margin-left:150px ;">
                        <li class="nav-item active" style=" width:100px">
                            <a class="nav-link text-white text-lg font-weight-bold" href="~/Home/Index">Trang Chủ </a>
                        </li>
                        <li class="nav-item style=" width:100px"">
                            <a class="nav-link text-white text-lg font-weight-bold ml-3" href="~/Product/SanPhamNew">New</a>
                        </li>
                        <li id="SanPham" class="nav-item dropdown" style="width:150px">
                            <a id="SanPhamCon" class="nav-link text-white text-lg font-weight-bold ml-3" href="~/Product/AllSP" @*id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"*@>
                                Sản Phẩm
                            </a>
                            @Html.Action("_PartialCate", "Product")
                        </li>
                       
                        <li class="nav-item" style=" width:100px">
                            <a class="nav-link active text-lg font-weight-bold text-white" href="#">Liên Hệ<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" style=" width:150px">
                            <a class="nav-link active text-lg font-weight-bold text-white" href="#">BEST SELLER<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>

                </div>
            </nav>

        </div>
        <div class=" col-6 text-warning mt-3 text-right">          
            <span class="nav-link" style="margin-right:200px;margin-left:10px">
               
                    <a href="@Url.Action("GioHang", "GioHang")" class="text-warning mt-3 text-right">@Html.Action("GioHangPartial", "GioHang")</a>
                    <a href="@Url.Action("DangNhap", "DN")" style="text-decoration: none;color:sandybrown">  <i class="fas fa-user  ml-3"></i> &emsp; Đăng Nhập</a>
               
             </span>
        </div>
    </div>
</div>
